<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ template "init" . }}
  <title>Robot Detail</title>
</head>

<body class="bg-primary text-secondary">

  <div class="layout">
    <div class="main">
      <!--    sidebar -->
      {{ template "sidebar" . }}

      <div class="page-content">
        <!-- header -->
        {{ template "header" . }}

        <div class="header-top border">
          <div class="header container">
            <h1>Detail</h1>
          </div>
        </div>

        <div class="card-detail bg-secondary">
          <div class="detail-info">
            <p>Name</p>
            <span>{{ .name}}</sp>
          </div>

          <div class="detail-info">
            <p>Vendor Id</p>
            <span>{{ .vendor_id}}</span>
          </div>

          <div class="detail-info">
            <p>Battery</p>
            <span>{{ .battery}}</span>
          </div>

          <div class="detail-info">
            <p>Status</p>
            <div class="box-status">
              <span class="status bg-accent">{{ .status}}</span>
            </div>
          </div>
        </div>

        <div class="button-back">
          <a href="/robots" class="text-secondary bg-black">Back</a>
        </div>

      </div>
    </div>
  </div>


  <script>
    const status = document.querySelectorAll(".status")

    status.forEach(item => {
      switch (item.innerText) {
        case "2":
          item.innerText = "Fault"
          break;
        case "3":
          item.innerText = "Running a job"
          break;
        case "4":
          item.innerText = "E-stopped"
          break;
        default:
          item.innerText = "Offline"
          break;
      }
    });
  </script>
  <script src="../../static/js/script.js"></script>
</body>

</html>