<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ template "init" . }}
    <title>Document</title>
  </head>
  <body class="bg-primary text-secondary">
    <div class="layout">
      <div class="main">
        <!--    sidebar -->
        {{ template "sidebar" . }}

        <div class="page-content">
          <!-- header -->
          {{ template "header" . }}

          <div class="header-top border">
            <div class="header container">
              <h1>Robots</h1>
            </div>
          </div>

          <div class="table-top">
            <table>
              <tr class="bg-variant tr-header">
                <th>ID</th>
                <th>Name</th>
                <th>Vendor ID</th>
                <th>Battery</th>
                <th>Status</th>
              </tr>
              {{ range .data }}
              <tr class="bg-secondary">
                <td>
                  <a href="robots/{{.Id}}" class="text-primary">{{.Id}}</a>
                </td>
                <td>{{.Name}}</td>
                <td>{{.VendorId}}</td>
                <td>{{.Battery}}</td>
                <td>{{.Status}}</td>
              </tr>
              {{ end }}
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/script.js"></script>
  </body>
</html>
